<%= link_to 'New report', new_report_path %>

<table class="table table-bordered">
  <% @reports.each do |r| %>
  <tr>
    <td> <%= r.created_at %> </td>
    <td> <%= r.campaign.try(:start_date) %> </td>
    <td> <%= r.comment %> </td>
    <td> <%= r.campaign_id %> </td>
    <td> <%= link_to 'Download PDF', generate_pdf_report_path(r) %> </td>
    <td> <%= link_to 'Edit report', edit_report_path(r) %> </td>
  </tr>
  <% end %>
</table>
